<div class="navBlackout navFaded navHidden" id="navBlackout"></div>
<nav>
    <span>
        Vergleichsportal
        <img src="/images/menu.png" class="navExpand" id="navExpand">
    </span>
    <div class="navLeft navFaded navHidden" id="navLeft">
        <a href="<%=host%>">Home</a>
        <a href="<%=host%>/search">Search</a>
        <a href="<%=host%>/contact">Contact</a>
    </div>
    <div class="navRight navFaded navHidden" id="navRight">
        <a href="<%=host%>/account">Account</a>
        <a id="colorButton"><img src="/images/moon.png"></a>
    </div>
</nav>
<script type="text/javascript">const color = "<%=color%>";</script>
<script type="text/javascript" src="/js/nav.js"></script>