<!DOCTYPE html>
<head>
    <%- include("partials/commonHead.ejs") %>
    <%- include("partials/navbarHead.ejs") %>
    <%- include("partials/footerHead.ejs") %>
    <link rel="stylesheet" href="/css/pages/account.css">
    <link rel="stylesheet" href="/css/colors/default.css">
</head>
<body>
    <%- include("partials/navbarBody.ejs") %>
    <main>
        <button id="logoutButton">Log Out</button>
    </main>
    <script type="text/javascript" src="/js/modules/cookies.js"></script>
    <script type="text/javascript" src="/js/pages/account.js"></script>
    <%- include("partials/footerBody.ejs") %>
</body>