<!DOCTYPE html>
<head>
    <%- include("partials/commonHead.ejs") %>
    <%- include("partials/navbarHead.ejs") %>
    <%- include("partials/footerHead.ejs") %>
    <link rel="stylesheet" href="/css/pages/contact.css">
    <link rel="stylesheet" href="/css/colors/default.css">
</head>
<body>
    <%- include("partials/navbarBody.ejs") %>
    <main>
        <div class="container">
            <img src="/images/photo.jpg" alt="Portrait Photo">
            <h1>Hi! Thanks for taking interest in my project.</h1>
            <p>My name is Kacper and I've been programming ever since I was little. Over the years I had learnt a lot and grown in my abilities through personal projects and <a class="link" href="https://gi.de/meldung/bwinf-endrunde2022">competitions</a>. Currently I'm pursuing that passion for computer science at the Technical University of Munich.</p>
            <p>Personally, I most enjoy working on efficient algorithms and with low-level languages. Lately I've been busy with writing firmware for self-made smart home devices, as can be seen on my <a class="link" href="https://opisek.net/git">GitHub page.</a></p>
            <p>Nevertheless, this web developement project was also quite exciting on its own, though you can see my affection for efficient code bleeding through, given that I keep the level of abstraction and libraries used to an absolute minimum. Besides, designing styling stunning frontend with pure CSS is really satisfying!</p>
            <p>Other than computer science, I take great pleasure from aviation and public railroad transportation. My introvated nature also shows in my affinity towards books and walks with my dog.</p>
            <p>The first time my attention was brought to CHECK24 as a job and, indeed, scholarship opportunity, was during the BWINF Alumni Meeting in Berlin in 2022. That was where Mr Pyliouras held an intriguing speech about the dynamic between the company and student workers or interns. What sparked my interest, was the fact that they really get to work on the live environment and not on isolated testgrounds. This trust and the responsibility that comes with it is what personally draws me towards CHECK24.</p>
            <p>Please, feel free to contact me via <a class="link" href="https://opisek.net/linkedin">LinkedIn</a> or my <a class="link" href="https://opisek.net/linkedin">E-Mail Address</a>.</p>
        </div>
    </main>
    <%- include("partials/footerBody.ejs") %>
</body>