<!DOCTYPE html>
<head>
    <%- include("partials/commonHead.ejs") %>
    <link rel="stylesheet" href="css/pages/search.css">
    <link rel="stylesheet" href="css/colors/default.css">
    <%- include("partials/navbarHead.ejs") %>
    <%- include("partials/footerHead.ejs") %>
</head>
<body>
    <%- include("partials/navbarBody.ejs") %>
    <main>
        <div class="mainSearch colorAccent">
            <form class="adjacentRow">
                <input placeholder="Find your next destination...">
                <button>Submit</button>
            </form>
        </div>
        <div class="mainFilters colorSecondary">
            <h1>Filters</h1>
            <form>
                <div>
                    <label class="filterName">Adults</label>
                    <button class="filterButton" type="button" value="-1">-</button>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <button class="filterButton" type="button" value="1">+</button>
                </div>
                <div>
                    <label class="filterName">Children</label>
                    <button class="filterButton" type="button" value="-1">-</button>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <button class="filterButton" type="button" value="1">+</button>
                </div>
                <div>
                    <label class="filterName">Price Min</label>
                    <button class="filterButton" type="button" value="-1">-</button>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <button class="filterButton" type="button" value="1">+</button>
                </div>
                <div>
                    <label class="filterName">Price Max</label>
                    <button class="filterButton" type="button" value="-1">-</button>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <button class="filterButton" type="button" value="1">+</button>
                </div>
            </form>
        </div>
        <div class="mainList colorPlain">List</div>
        <script type="text/javascript" src="js/pages/search.js"></script>
    </main>
    <%- include("partials/footerBody.ejs") %>
</body>