<!DOCTYPE html>
<head>
    <%- include("partials/commonHead.ejs") %>
    <link rel="stylesheet" href="css/pages/search.css">
    <link rel="stylesheet" href="css/colors/default.css">
    <%- include("partials/navbarHead.ejs") %>
    <%- include("partials/footerHead.ejs") %>
</head>
<body>
    <%- include("partials/navbarBody.ejs") %>
    <main>
        <div class="mainSearch colorAccent">
            <form class="adjacentRow">
                <input placeholder="Find your next destination...">
                <button>Submit</button>
            </form>
        </div>
        <div class="mainFilters colorSecondary">
            <h1>Filters</h1>
            <div>
                <div>
                    <span class="filterName">Adults</span>
                    <span>-</span>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <span>+</span>
                </div>
                <div>
                    <span class="filterName">Children</span>
                    <span>-</span>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <span>+</span>
                </div>
                <div>
                    <span class="filterName">Price Min</span>
                    <span>-</span>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <span>+</span>
                </div>
                <div>
                    <span class="filterName">Price Max</span>
                    <span>-</span>
                    <input class="filterInput" placeholder="0" value="" type="number">
                    <span>+</span>
                </div>
            </div>
        </div>
        <div class="mainList colorPlain">List</div>
        <script type="text/javascript" src="js/pages/search.js"></script>
    </main>
    <%- include("partials/footerBody.ejs") %>
</body>