<!DOCTYPE html>
<head>
    <%- include("partials/commonHead.ejs") %>
    <link rel="stylesheet" href="/css/pages/search.css">
    <link rel="stylesheet" href="/css/modules/offers.css">
    <link rel="stylesheet" href="/css/modules/filters.css">
    <link rel="stylesheet" href="/css/modules/pagination.css">
    <link rel="stylesheet" href="/css/colors/<%=color%>.css">
    <%- include("partials/navbarHead.ejs") %>
    <%- include("partials/footerHead.ejs") %>
</head>
<body>
    <%- include("partials/navbarBody.ejs") %>
    <main>
        <div class="mainPagination colorAccent">
            <img src="/images/right-arrow.png" alt="Filters" id="filtersButtonOpen">
            <h1>Browse Hotels</h1>
            <%- include("partials/paginationBody.ejs") %>
        </div>
        <%- include("partials/filtersBody.ejs") %>
        <div class="mainList colorPlain">
        </div>
    </main>
    <script type="text/javascript" src="/js/modules/filters.js"></script>
    <script type="text/javascript" src="/js/pages/search.js"></script>
    <%- include("partials/footerBody.ejs") %>
</body>